
/*for every element */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}
nav{
    display: flex;/*in one line and to can edit */
    justify-content: space-between;/*space between elements*/
    /*justify-content: center;center elements horizontally*/
    align-items: center;/*center elements vertically*/
    background-color: #1876f2;/*facebook blue*/
    padding: 5px 10px;/*top and bottom 5px, left and right 10px*/
    position: sticky;
    top: 0%;
    z-index: 100;/*bach li t7t mnno sticky maydkholch fih mnli nscrolli*/
    /*كيتحكم فـ الأولية في الظهور 
    (stacking order) 
    ديال العناصر اللي كيتقاطعوا (تغطّي واحد على الآخر). العنصر اللي عندو 
    z-index
     أكبر كيجي فوق العنصر اللي 
    z-index 
    ديالو أقل*/
    /*WALAKIN MAWLLACH STICKY T7T NAV-BAR B7ALI WLLA B7AL MAIN-CONTENT*/
}
.nav-center{
    display: flex;
    gap: 40px;/*gap between elements*/
    margin-left: -30%;/*move to left 90px*/
}
.nav-left,.nav-right{
    display: flex;
    padding: 0 50px;/*top and bottom 0px, left and right 10px*/

}
.nav-left{
    margin-left: 3px;
}
.nav-user-icon img{
    cursor: pointer;
    margin-left: 20px;
    align-items: center;
}
.search-box{
    background-color: #f0f2f5;/*light grey*/
    border-radius: 20px;/*make it round*/
    padding: 5px 20px;/*top and bottom 5px, left and right 20px*/
    display: flex;/*in one line*/
    align-items: center;/*center vertically*/
    gap: 10px;/*gap between elements*/
}
.search-box input{
    border: none;/*remove border*/
    background-color: transparent;/*make background transparent*/
    outline: none;/*remove outline when focused*/
    width: 250px;
}
.online{
    position: relative;/*position relative*/
   
}
.online::after{/*means in front of the element there is content*/
   content: '';
   width: 7px;
   height: 7px;
   border: 2px solid #fff;/*width and style*/
   border-radius: 50%;/*make it round*/
   background: #41db51;/*green*/
   position:absolute;/*to put it on the element(if i didn't use position relative in online so the content would be absolute on the whole page)*/
   top: 0;
   right: 10px;

}
.fa-facebook{
    color: #fff;
}
.fa-solid{
    color: white;
}
.fa-magnifying-glass{
    color: #65676b;/*dark grey*/
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
   
    position: sticky;/*because it will not move when i scroll,voir bro code*/
    top: 70px;/*to be sticked at the top while scrolling/walakin mli drt z-index ma b9ach top*/
    flex-basis: 25%;
    align-self: flex-start;/*?*/
    /*height: 100vh;/*db 3ad bant background*/
   
}
.right-sidebar{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    position: sticky;
    top: 70px;
    flex-basis: 25%;/*width;mais si je fais width lktba ghadi tkhroj mn div mn 3la right walakin hna maktkhrojch o kitwal mn left */
    align-self: flex-start;
    
}
.main-content{  
flex-basis: 47%;

}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;/*kolla icon o 7daha lklma*/
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width:fit-content  ;/*"خلي العرض (الطول الأفقي) ديال العنصر يكون قدّ المحتوى اللي فيه فقط، ماشي أكثر."/mais hna ma khdmatch*/

}
.imp-links a i{
width: 15px;
margin-right: 15px;
color: #1876f2;;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    margin-right: 15px;
    border-radius:4px ;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    
}
